@model HVK_ZZTop.Models.PetReservation

@{
    ViewData["Title"] = "CheckOut";
}

<h1>Check-out</h1>

<a asp-action="Index">Back to Home</a>
<div class="card mb-3">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <h5 class="card-title">Reservation</h5>
            </div>
        </div>
    </div>
    <div class="card-body bg-light border-top">
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Reservation.StartDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Reservation.StartDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Reservation.EndDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Reservation.EndDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Reservation.Status)
            </dt>
            <dd class="col-sm-10">
                @((HVK_ZZTop.Models.ReservationStatus) Convert.ToInt32(Model.Reservation.Status))
            </dd>

            <dt class="col-sm-2">
                Owner
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Pet.Owner.FirstName) @Html.DisplayFor(model => model.Pet.Owner.LastName)
            </dd>


        </dl>
    </div>
</div><div class="card mb-3">
    <div class="card-header">
        <div class="row align-items-center">
            <div class="col">
                <h5 class="card-title mb-0">Pet</h5>

            </div>
        </div>
    </div>
    <div class="card-body bg-light border-top">
        <div class="row">
            <div class="col-lg col-xxl-5">
                <div class="row">
                    <h6 class="font-weight-semi-bold ls mb-3">Information</h6>

                </div>
                <div class="row">
                    <div class="col-5 col-sm-4">
                        <p class="font-weight-semi-bold mb-1"> @Html.DisplayNameFor(model => model.Pet.Name)</p>
                    </div>
                    <div class="col">@Html.DisplayFor(model => model.Pet.Name)</div>
                </div>
                <div class="row">
                    <div class="col-5 col-sm-4">
                        <p class="font-weight-semi-bold mb-1"> @Html.DisplayNameFor(model => model.Pet.Breed)</p>
                    </div>
                    <div class="col"> @Html.DisplayFor(model => model.Pet.Breed)</div>
                </div>
                <div class="row">
                    <div class="col-5 col-sm-4">
                        <p class="font-weight-semi-bold mb-1"> @Html.DisplayNameFor(model => model.Pet.Gender)</p>
                    </div>
                    <div class="col">@Html.DisplayFor(model => model.Pet.Gender)</div>
                </div>
                <div class="row">
                    <div class="col-5 col-sm-4">
                        <p class="font-weight-semi-bold mb-1"> @Html.DisplayNameFor(model => model.Pet.DogSize)</p>
                    </div>
                    <div class="col">@Html.DisplayFor(model => model.Pet.DogSize)</div>
                </div>
                <div class="row">
                    <div class="col-5 col-sm-4">
                        <p class="font-weight-semi-bold mb-1"> @Html.DisplayNameFor(model => model.Pet.Fixed)</p>
                    </div>
                    <div class="col">@Html.DisplayFor(model => model.Pet.Fixed)</div>
                </div>

                <div class="row">
                    <div class="col-5 col-sm-4">
                        <p class="font-weight-semi-bold mb-1">@Html.DisplayNameFor(model => model.Pet.Climber)</p>
                    </div>
                    <div class="col">@Html.DisplayFor(model => model.Pet.Climber)</div>
                </div>

                <div class="row">
                    <div class="col-5 col-sm-4">
                        <p class="font-weight-semi-bold mb-1"> @Html.DisplayNameFor(model => model.Pet.Barker)</p>
                    </div>
                    <div class="col">@Html.DisplayFor(model => model.Pet.Barker)</div>
                </div>
            </div>
        </div>
    </div>
</div><div>
    <form asp-action="CheckOut">
        <input type="submit" value="Confirm" class="btn btn-primary" />
    </form>
</div>